.heading {
  text-align: center;
  font-size: var(--text-xxxl);
}
.profileContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  padding: 20px;
  gap: 20px;
}
.profileContainer .profileCards {
  background-color: var(--white);
  padding: 30px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
  box-shadow: 2px 4px 8px #98989878;
  width: 300px;
  height: 350px;
}
.profileContainer .profileCards img {
  border: 1px solid var(--grey);
  border-radius: 50%;
}
.profileContainer .profileCards h3 {
  color: var(--red);
  text-align: center;
}
.profileContainer .profileCards .post {
  font-weight: 700;
}