.profileContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 70px;
  max-width: 100%;
  justify-self: center;
  justify-content: center;
  margin: 50px;
}

.profileCards {
  background-color: var(--foreground);
  text-align: center;
  justify-self: center;
  display: inline-block;
  width: 330px;
  height: 270px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(126, 126, 126, 0.712);
  border-bottom: 7px solid var(--accent-second);
  box-shadow: 2px 4px 6px 8px rgba(128, 128, 128, 0.315);
  transition: all 0.3s ease;
}
.profileCards:hover {
  transform: scale(1.1);
}
.profileCards img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.profileCards h3 {
  color: var(--accent-second);
  font-size: var(--text-lg);
  font-family: var(--main-font);
}
.post {
  text-align: left;
  font-size: var(--text-sm);
  line-height: 1.5;
  font-weight: 600;
  color: var(--accent);
}
.bio {
  text-align: left;
  line-height: 1.5;
  font-size: var(--text-sm);
}
.heading {
  text-align: center;
  font-size: var(--text-xxxl);
}