.center {
  text-align: center;
  padding: 20px;
}

.sectionContainer {
  border: 1px solid var(--light-border);
  padding: 1rem;
  margin: 10px;
  background-color: var(--white);
  border-radius: 5px;
}
.container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  position: relative;
  width: 100%;
}
.sectionContainer h2 {
  font-size: var(--text-xxl);
  line-height: 1.2;
}
.leftSection h2 span {
  color: var(--red);
}
.containerGrid {
  display: grid;
  padding: 20px;
  gap: 10px;
}
.blogContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0.5rem;
}
.cards {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: var(--red-gradient);
  padding: 10px;
  border-radius: 3px;
  color: var(--red);
}
.cards .left {
  padding: 10px;
  font-size: var(--text-xxxl);
  color: var(--red);
}
.rightSection img {
  width: 50%;
  justify-self: center;
  display: flex;
}
.newsSection {
  padding: 40px 20px;
  border-top: 1px solid var(--light-border);

}
.newsSection h2 {
  padding: 10px 0;
}
.newsSection .container {
  display: grid;
  gap: 20px;
  padding: 10px;
}
.blogCard {
  background-color: var(--white);
  padding: 15px;
  border-left: 5px solid var(--red);
  border-radius: 5px;
  gap: 10px;
  height: auto;
  max-height: 1000px;
  display: grid;
  width: 100%;
  object-fit: cover;

}
.blogImg {
  width: 100%;
  object-fit: cover;

  height: 200px;
}

.blodCard h4 {
  padding: 10px 0;
  font-weight: 400;
}
.card p {
  color: var(--grey);
}
.card .date {
  margin: 15px 0;
  color: var(--grey);
  font-size: var(--text-sm);
}
.moreBox {
  width: 100%;
  padding: 10px;
}
.moreBox a {
  text-decoration: none;
  color: var(--red);
  text-align: center;
}
.newLogo {
  border-radius: 50%;
}
@media (min-width: 620px) {
  .containerGrid {
    grid-template-columns: 1fr 1fr;
  }
  .containerGrid .cards {
    display: grid;
    justify-content: center;
  }
  .rightSection .container {
    grid-template-columns: 1fr 1fr;
  }
  .rightSection .container .cards {
    padding: 30px;
    height: 90px;
  }
  .newsSection .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
  }
  .newsSection .container .cards {
    height: 400px;
  }
}
@media (min-width: 1280px) {
  h6 {
    text-align: left;
  }
  .newsSection .container .card {
    width: 600px;
  }
  .sectionContainer {
  border: 1px solid var(--light-border);
  padding: 3rem;
  }
  .container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  }
  .container {
  gap: 20px;
  padding: 3rem;
  }
  .sectionContainer {
  border: 1px solid var(--light-border);
  padding: 1rem;
  margin: 5rem;
  background-color: var(--white);
  border-radius: 5px;
}
.sectionContainer2 {
  border-top: 1px solid var(--light-border);
  background-color: var(--white);
}
.blogImg {
  width: 100%;
  object-fit: contain;
  height: 300px;
}
}