.aboutHero {
  background: var(--accent);
  color: var(--foreground);
  display: grid;
  justify-content: center;
  text-align: center;
  min-height: 40vh;
  align-items: center;
  padding: 10px;
}
.aboutOverlay h6 {
  padding: 10px;
  color: var(--accent-third);
  font-size: 15px;
  text-transform: uppercase;
  font-family: var(--main-font);
}
.aboutHero h2 {
  font-size: var(--text-xxxl);
}
.aboutHero p {
  line-height: 5;
}
.aboutHero button {
  padding: 10px 20px;
  font-family: var(--second-font);
  font-weight: 400;
  font-size: var(--text-sm);
  background-color: var(--accent-third);
  border: none;
  border-radius: 10px;
}