.overlay {
  background: var(--white);
  padding: 30px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 100%;
  height: 50%;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
.overlay h2 {
  text-align: center;
  padding: 10px;
}
.overlay p {
  font-weight: 500;
  padding: 10px;
  max-width: 80%;
  justify-self: center;
  align-self: center;
}
.overlay button {
  background-color: var(--yellow);
  border: none;
  padding: 7px 30px;
  display: flex;
  align-self: center;
  font-size: var(--text-base);
  text-align: center;
}
.connectContainer {
  display: grid;
  align-content: center;
  justify-items: center;
}
.connectContainer button {
  display: flex;
  justify-self: center;
}
.rightSide {
  padding: 0 10px;
}