.header {
  background: var(--black);
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 90px;
  align-content: center;
}
.logoSection {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.logoImg {
  max-width: 60px;
  width: 100%;
  max-height: auto;
}
.logo{
  font-family: var(--accent-font);
  font-size: var(--logo-text);
  display: grid;
  font-weight: 400;
}
.navbarCanvas {
  top: 90px;
  position: absolute;
  right: -100%;
  transition: all 0.3s ease-out;
}
.navCanvas.active {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 90px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 5px 50px;
  margin: 0;

  position: fixed;
  top: 90px;
  right: 0;

  background-color: var(--black);

  height: calc(100vh - 90px);
  width: 70%;

  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.navList.active {
  transform: translateX(0);

}
.navList li {
  text-align: left;
}
.linkContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 5;
}
.links {
  color: var(--white);
  text-decoration: none;
  line-height: 3;
  display: block;
  transition: opacity 0.3s ease;
  font-size: var(--btn-font);
  transition: all 0.3s ease-in-out;
}
.links:hover {
  color: var(--yellow);
  font-weight: bold;
}
.hamburger {
  align-items: center;
  background-color: transparent;
  display: grid;
  flex-direction: column;
  cursor: pointer;
  font-size: 25px;
}

@media  screen and (min-width: 1280px) {
  .header {
  height: 150px;
  align-items: center;
  }
  .logoImg {
  max-width: 100px;
  width: 100%;
  max-height: auto;
  }
  .navList {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    justify-content: space-evenly;
    width: 100%;
    gap: 30px;
    transform: none;
  }
  .hamburger {
    display: none;
  }
}