.heroContainer {
  background: linear-gradient(#7b0000bf, #59000060), url('./../assets/hero.jpg');
  width: 100%;
  height: auto;
  background-size: cover;
  display: grid;
  background-position: center;
  padding: 20px;
}
.heroOverlay {
  align-items: center;
  justify-content: center;
  display: grid;
  color: var(--white);
}
.heroOverlay h5 {
  color: var(--yellow);
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  background: rgba(255, 247, 0, 0.386);
  width: 200px;
  justify-self: center;
  margin: 10px;
  border-radius: 30px;
}
.heroOverlay h1 {
  text-align: center;
  font-size: var(--text-xxxl);
  color: var(--white);
  letter-spacing: 2px;
  font-weight: 900;
}
.heroOverlay h1 span {
  color: var(--yellow);
}
.heroOverlay p {
  font-weight: 600;
  padding: 10px;
  text-align: center;
}
.btnContainer {
  padding: 10px;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.btnContainer button {
  padding: 7px 12px;
  font-size: var(--text-base);
  border-radius: 10px;
  font-weight: 500;
}
.primaryBtn {
  background-color: var(--yellow);
  border: none;
}
.secondaryBtn {
  background-color: transparent;
  border: 1px solid var(--yellow);
  color: var(--yellow);
}
@media (min-width: 768px) {
  .heroOverlay h5 {
    padding: 15px;
    width: 300px;
}
}
@media (min-width: 1280px) {
  .heroContainer {
    height: 95vh;
    background-position: center;
  }
  .heroOverlay {
    justify-items: center;
    gap: 10px;
  }
  .btnContainer button {
    padding: 15px 20px;
  }
}