.heroContainer {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(rgba(53, 0, 0, 0.726)) ,url(./../../public/hero-image.jpg);
  display: grid;
  align-items: center;
  place-content: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.heroOverlay {
    justify-items: center;
    display: grid;
    width: 900px;
    text-align: center;
}
.heroOverlay h6 {
  background-color: rgba(255, 255, 0, 0.199);
  color: var(--accent-third);
  text-align: center;
  font-weight: 400;
  font-family: var(--main-font);
  padding: 20px;
  width: 450px;
  border-radius: 30px;
  font-size: var(--text-base);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.heroOverlay h1 {
  color: var(--foreground);
  width: 500px;
  text-align: center;
}
.heroOverlay h1 span {
  color: var(--accent-third);
}
.heroOverlay p {
  color: var(--foreground);
  font-size: var(--text-base);
  font-family: var(--main-font);
  font-weight: 400;
}
.btnContainer {
  padding: 50px;
  width: 600px;
  display: flex;
  justify-content: space-around;
}
.btnContainer button {
  padding: 15px 40px;
  font-family: var(--second-font);
  font-weight: 500;
  font-size: var(--text-base);
  transition: all 0.3s ease;
}
.primaryBtn {
  background-color: var(--accent-third);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.primaryBtn:hover {
  background-color: var(--foreground);
}
.secondaryBtn {
    background-color: transparent;
  border: var(--accent-third) 1px solid;
  border-radius: 30px;
  color: var(--foreground);
  cursor: pointer;
}
.secondaryBtn:hover {
  background-color: var(--accent-third);
  color: var(--accent);
}
@media (max-width: 798px) {
  .heroOverlay h6 {
    padding: 10px;
    margin: 10px 0 0 0;
    width: auto;
    font-size: var(--text-sm);
  }
  .heroContainer {
    place-content: start;
    min-height: auto;
    background-size: cover;
    background-position: center;
  }
  .heroOverlay {
    width: 100%;
    align-self: center;
    place-self: center;

  }
  .heroOverlay h1 {
    width: auto;
    padding: 5px;
    font-size: var(--text-lg);
  }
  .btnContainer button {
    padding: 10px 20px;
  }
  .heroContainer p {
    width: 400px;
  }
  .btnContainer {
    width: auto;
    gap: 10px;
  }
}