.highlightContainer {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.highlightCard {
  margin: 20px;
  border-radius: 5px;
  height: 100%;
  gap: 10px;
  height: auto;
  max-height: 400px;
  padding: 30px;
  background-color: var(--red-gradient);
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}
h3 {
  text-align: center;
  padding: 10px 0;
}


@media screen and (min-width: 1280px) {
  .highlightContainer {
  width: 45rem;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.highlightCard {
  max-width: 700px;
  border-radius: 10px;
  width: 90%;
  height: 100%;
  gap: 10px;
  height: auto;
  max-height: 400px;
  padding: 50px;
  background-color: var(--red-gradient);
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 0;
  flex-direction: column;
}
}