.missionStatementContainer {
  padding: 20px;
  display: grid;
  gap: 20px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.missionStatementContainer .cards {
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
  border-top: 5px solid var(--red);
}
.missionStatementContainer .cards h3 {
  color: var(--red);
  padding-bottom: 10px;
}
.missionStatementContainer .cards i {
  font-size: var(--text-xxxxl);
  color: var(--red);
}
.missionStatementContainer .cards p {
  color: var(--grey);
  font-weight: 500;
}
@media (min-width: 1280px) {
  .missionStatementContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .cards {
    width: 550px;
  }
}