.MissionStatementContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  text-align: center;
  gap: 30px;
  justify-content: center;
}
.cards {
  background-color: var(--foreground);
  border-radius: 10px;
  border-top: 5px solid var(--accent-third);
  padding: 30px;
}
.cards h3 {
  font-family: var(--main-font);
  line-height: 2;
  padding: 10px;
  color: var(--accent-second);
}
.cards p {
  font-family: var(--second-font);
  font-size: var(--text-sm);
}
