.missionStatementContainer {
  padding: 20px;
  display: grid;
  gap: 20px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.missionStatementContainer .cards {
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
  border-top: 10px solid var(--red);
}
.missionStatementContainer .cards h3 {
  color: var(--red);
  padding-bottom: 10px;
}
.missionStatementContainer .cards i {
  color: var(--red);
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--red);
  display: flex;
  justify-self: center;
  width: 60px;
  align-items: center;
  aspect-ratio: 1;
  justify-content: center;
}
.missionStatementContainer .cards p {
  margin-top: 15x;
  line-height: 1.5;
  color: var(--grey);
  font-weight: 500;
}
@media (min-width: 1280px) {
  .missionStatementContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .cards {
    width: 550px;
  }
}