.timelineContainer {
  padding: 10px;
  display: grid;
  justify-content: center;
}
.timelineContainer h2 {
  font-size: var(--text-xxxl);
  text-align: center;
  color: var(--red);
}
.headingText {
  font-weight: 600;
  font-size: var(--text-xl);
}
.timeline {
    max-width: 1000px;
    align-self: center;
}