.timelineContainer {
  padding: 10px;
  display: grid;
  justify-content: center;
}
.timelineContainer h2 {
  text-align: center;
  color: var(--red);
  line-height: 1;
}
.headingText {
  font-weight: 600;
}
.littleText {
  font-size: var(--text-base);
}
.timeline {
    max-width: 1000px;
    align-self: center;
}