/* Mobile First Responsiveness */

:root {
  /* Font Sizes */
  --text-xxxxl: 2.5rem;

  --text-xxxl: 1.3rem;
  --text-xxl: 1.2rem;
  --text-xl: 0.9rem;
  --text-lg: 0.8rem;
  --text-base: 0.7rem;
  --text-sm: 0.6rem;
  --text-xs: 0.5rem;

  /* Colors */
  --bg: rgb(234, 234, 234);
  --black: rgb(14, 13, 13);
  --red: rgb(136, 0, 0);
  --yellow: rgb(255, 251, 20);
  --white: rgb(255, 255, 255);
  --red-gradient: rgba(255, 171, 161, 0.5);
  --grey: rgb(59, 59, 59);

  /* Gradients */

  /* Fonts */
  --main-font: 'Montserrat', sans-serif;
  --accent-font: 'Inter', sans-serif;

  overflow-x: hidden;

}
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  :root {
  --text-xxxxl: 2.5rem;

  --text-xxxl: 2rem;
  --text-xxl: 1.9rem;
  --text-xl: 1.5rem;
  --text-lg: 1.2rem;
  --text-base: 1rem;
  --text-sm: 0.9rem;
  --text-xs: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  :root {
  --text-xxxxl: 2.5rem;
  --text-xxxl: 3.2rem;
  --text-xxl: 3rem;
  --text-xl: 1.5rem;
  --text-lg: 1.2rem;
  --text-base: 1.1rem;
  --text-xs: 0.9rem
  }
}