/* Mobile First Responsiveness */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font Sizes */
  --text-xxxl: 2rem;
  --text-xxl: 1.7rem;
  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-base: 0.9rem;
  --btn-font: 0.75rem;
  --text-sm: 0.5rem;
  --logo-text: 0.8rem;

  /* Colors */
  --bg: rgb(234, 234, 234);
  --black: rgb(14, 13, 13);
  --red: rgb(136, 0, 0);
  --yellow: rgb(255, 251, 20);
  --white: rgb(255, 255, 255);
  --red-gradient: rgba(255, 171, 161, 0.5);
  --grey: rgb(94, 94, 94);

  /* Gradients */
  --yellow-accent-bg: ;

  /* Border */
  --light-border: rgba(0, 0, 0, 0.2);

  /* Fonts */
  --main-font: 'Montserrat', sans-serif;
  --accent-font: 'Inter', sans-serif;

  overflow-x: hidden;

}
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body, html {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  :root {
  --text-xxxxl: 2.5rem;

  --text-xxxl: 2rem;
  --text-xxl: 1.9rem;
  --text-xl: 1.5rem;
  --text-lg: 1.2rem;
  --text-base: 1rem;
  --text-sm: 0.9rem;
  --text-xs: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  :root {
  /* Font Sizes */
  --text-xxxl: 5rem;
  --text-xxl: 3rem;
  --text-xl: 2.2rem;
  --text-lg: 1.25rem;
  --text-base: 1.2rem;
  --btn-font: 1rem;
  --text-sm: 0.7rem;
  --logo-text: 1.3rem;
  }
}