* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Font Sizes */
  --text-xxxl: 56px;
  --text-xxl: 48px;
  --text-xl: 32px;
  --text-lg: 20px;
  --text-md: 18px;
  --text-base: 18px;
  --text-sm: 14px;
  --text-xs: 10px;

  /* Background Colors */
    --background: #bebebe;
    --foreground: #fff;
    --accent: #000;
    --accent-second: rgb(211, 0, 0);
    --accent-third: rgb(255, 230, 0);

  /* Font */
  --main-font: 'Montserrat', sans-serif;
  --second-font: 'Inter', sans-serif;
}
body {
  background-color: var(--background);
}
h1, .h1, .heading {
  font-size: var(--text-xxxl);
  font-weight: 900;
  padding: 20px;
  font-family: var(--main-font);
}
p {
  font-family: var(--main-font);
  font-size: var(--text-base);
  color: #727272;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@media (max-width: 789px) {
:root {
  /* Font Sizes */
  --text-xxxl: 28px;
  --text-xxl: 24px;
  --text-xl: 20px;
  --text-lg: 18px;
  --text-md: 15px;
  --text-base: 12px;
  --text-sm: 10px;
  --text-xs: 7px;
  }
  p {
    font-size: var(--text-base);
  }
}